<main>
  <div class="goToTop" [ngx-scroll-to]="'#header-product'">
    <i class="fas fa-sort-up"></i>
  </div>

  <app-landing-page-menu></app-landing-page-menu>

  <section class="product-description margin-top-and-bottom">
    <div class="container">
      <div class="row">
        <div class="logo-product ge col-lg-5 col-sm-12 col-md-12"></div>
        <div class="description col-lg-7 col-sm-12 col-md-12">
          <h2 class="bold" i18n="@@programOverview">
            ¿Qué significa ser un Emprendedor Global?
          </h2>
          <p i18n="@@geOverview">
            Ser Emprendedor Global es una experiencia de pasantía internacional donde jóvenes (estudiantes o
             graduados) podrán desarrollar su carrera profesional trabajando en una Startup durante 8 a 12 
             semanas. Las áreas de acción son Marketing, Administración, Tecnología e Información, Diseño 
             Gráfico y Desarrollo de Negocios. Es de preferencia que el joven tenga inglés intermedio y 
             alguna experiencia profesional previa o académica en el área de ocupación de preferencia
        </div>
      </div>
    </div>
  </section>

  <!-- Form ge -->
  <app-form-ge id="form"></app-form-ge>

  <section class="product-steps margin-top-and-bottom">
    <div class="container">
        <h2 style="text-align:center;font-weight: bold; color:black;padding-bottom: 30px;">Pasos para realizar tu intercambio </h2>
      <div class="row">
        <div class="product-image background-default col-lg-5 col-md-12 col-sm-12">
          <div class="round icon circle"></div>
        </div>
        <div class="product-steps-content col-lg-7 col-md-12 col-sm-12 ">
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background ge lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@register">
                Inscríbete
              </h3>
              <p class="lighter" i18n="@@registerAndSeeOpportunities">
                Llena tu inscripción y mira las oportunidades que tenemos para ti.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background ge lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@contactWithAiesec">
                Contacto con AIESEC
              </h3>
              <p class="lighter" i18n="@@contactWithAiesecText">
                La oficina de AIESEC más cercana a ti entrará en contacto para resolver tus dudas e 
                indicarte las mejores oportunidades.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background ge lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@cvInEnglishTitle">
                Hacer el CV en inglés
              </h3>
              <p class="lighter" i18n="@@cvInEnglishText">
                Es necesario preparar tu curriculum vitae en inglés para presentar a las Start Ups a las que 
                estás aplicando. No te preocupes, estamos aquí para ayudarte.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background ge lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@applyInOurVacanciesTitle">
                Aplicar a nuestras oportunidades
              </h3>
              <p class="lighter" i18n="@@applyInOurVacanciesText">
                En la plataforma podrás aplicar a diversas oportunidades que encajarán con tu perfil a partir 
                de la consultoría hecha por la oficina de AIESEC.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background ge lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@interviewsForVacanciesTitle">
                Entrevista con la empresa que estás aplicando.
              </h3>
              <p class="lighter" i18n="@@interviewsForVacanciesText">
                Vas a realizar una entrevista con la Start Up a la que aplicaste, donde te presentarás y 
                responderás algunas preguntas de selección..
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background ge lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@beApprovedOnTheJobTitle">
                Ser aprobado en la oportunidad.
              </h3>
              <p class="lighter" i18n="@@beApprovedOnTheJobGeText">
                Después de la entrevista y de ser aceptado en la oportunidad, serás invitado para firmar el 
                contrato de tu intercambio y hacer el pago de la tasa administrativa.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background ge lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@getReadyForYourExchangesTitle">
                Prepárate para tu intercambio
              </h3>
              <p class="lighter" i18n="@@getReadyForYourExchangesText">
                Con el soporte de AIESEC, te vas a preparar para viajar y tener una experiencia increíble.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background ge lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@livesExperienceTitle">
                Vive la Experiencia
              </h3>
              <p class="lighter" i18n="@@livesExperienceText">
                Ahora es solamente viajar y con soporte de AIESEC podrás vivir una experiencia de liderazgo que impactará el mundo.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button [ngx-scroll-to]="'#form'" class="with-background bold ge without-border centered" i18n="@@subscribeNow" style="border-radius:5px;">
                Quiero ser Emprendedor Global
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class='know-aiesec padding-top-and-bottom with-background ge'>
    <div class="container">
        <h2 style="text-align:center;font-weight: bold; color:black;">¿Que incluye mi intercambio?</h2>
      <div class="row">
        <div class="aiesec-image background-default col-lg-5 col-sm-12 col-md-12">
          <div class="round icon circle"></div>
        </div>
        <div class="aiesec-info col-lg-7 col-sm-12 col-md-12">
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background ge"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem1Title">
                Soporte para encontrar tu vacante
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem1Text">
                Al inscribirte, un voluntario de AIESEC te va a ayudar a encontrar la oportunidad correcta 
                para tu perfil, sacar todas las dudas y ponerte en contacto con la oficina a la cual vas a viajar.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background ge"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem2Title">
                Soporte logístico
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem2Text">
                Antes y durante el intercambio, AIESEC en tu ciudad y en el destino van ayudarte con la logística 
                de transporte, acomodación y preparación para tu proyecto.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background ge"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem3Title">
                Descripción de trabajo
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem3Text">
                Independiente del tipo de intercambio, nuestras oportunidades tienen descripciones del proyecto en el 
                que vas a participar, carga horaria y responsabilidades. Además de eso, tu puedes conversar con nuestro 
                equipo para aclarar cualquier duda.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background ge"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem4Title">
                Experiencia de Liderazgo
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem4Text">
                A lo largo de tu experiencia con AIESEC, serán brindados diversos espacios para que puedas reflexionar y 
                mejorar las habilidades de liderazgo, para que puedas volver y traer un impacto real a tu ciudad.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button [ngx-scroll-to]="'#form'" class="border-radius centered without-border" i18n="@@talkWithOurRepresentatives" style="background:#00AA90;color:white;font-weight:bold;">
            Habla con uno de nuestros representantes
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="faq padding-top-and-bottom">
      <div class="container">
        <div class="row">
          <div class="faq-info col-lg-7 col-sm-12 col-md-12">
            <h2 class='bold' i18n="@@faqFrequentlyAskedQuestions">
              FAQ - Preguntas frecuentes
            </h2>
            <div class="row">
              <div class="col-sm-12">
                <h3 class='semibold' i18n="@@faqGeItem1">
                  ¿Voy a recibir alguna remuneración por parte de la Start Up?
                </h3>
                <p class='lighter italic' i18n="@@faqGeItem1Answer">
                  No, la experiencia no es remunerada para este intercambio. Pero 
                  en compensación, recibirás alojamiento por el periodo del intercambio.
                </p>
              </div>
              <div class="col-sm-12">
                <h3 class='semibold' i18n="@@faqGeItem2">
                  ¿Las vacantes son solo para Start Ups?
                </h3>
                <p class='lighter italic' i18n="@@faqGeItem2Answer">
                  No, existen vacantes también en aceleradoras e incubadoras de negocios.
                </p>
              </div>
              <div class="col-sm-12">
                <h3 class='semibold' i18n="@@faqGeItem3">
                  ¿Necesito seguro de salud para viajar?
                </h3>
                <p class='lighter italic' i18n="@@faqGeItem3Answer">
                  Si, el seguro de salud es obligatorio para tu intercambio con AIESEC, para garantizar tu 
                  bienestar durante todo el viaje. Nosotros podemos recomendarte un servicio de seguros, 
                  pero tú puedes contratar la aseguradora que más prefieras.
                </p>
              </div>
              <div class="col-sm-12">
                <h3 class='semibold' i18n="@@faqGeItem4">
                  ¿En qué tipo de hospedaje voy acomodarme?
                </h3>
                <p class='lighter italic' i18n="@@faqGeItem4Answer">
                  Depende del país de destino. Podrás estar alojado en una familia, un hostel o en un 
                  departamento con otros intercambistas.
                </p>
              </div>
              <div class="col-sm-12">
                <button [ngx-scroll-to]="'#form'" class="centered without-border bold" i18n="@@contactUsForm" style="background:#1BC69C;color:white;font-weight:bold;border-radius: 5px;">
                  Contáctanos
                 </button>
              </div>
            </div>
          </div>
          <div class="faq-image background-default col-lg-5 col-sm-12 col-md-12">
            <div class="round icon circle"></div>
          </div>
        </div>
      </div>
    </section>
</main>
<app-landing-footer></app-landing-footer>