<main>
  <div class="goToTop" [ngx-scroll-to]="'#header-product'">
    <i class="fas fa-sort-up"></i>
  </div>

  <app-landing-page-menu></app-landing-page-menu>

  <section class="product-description margin-top-and-bottom">
    <div class="container">
      <div class="row">
        <div class="logo-product gt col-lg-5 col-sm-12 col-md-12"></div>
        <div class="description col-lg-7 col-sm-12 col-md-12">
          <h2 class="bold" i18n="@@programOverview">
            ¿Qué significa ser un Talento Global?
          </h2>
          <p i18n="@@gtOverview">
            Ser un Talento global es una experiencia internacional en empresas durante 3 a 12 meses donde 
            los jóvenes tienen la oportunidad de vivir el ambiente profesional y corporativo. Las grandes 
            áreas de trabajo de Talento Global son: Tecnología e Información, Administración, Finanzas, 
            Gestión, Recursos Humanos, Marketing y Enseñanza de idiomas. Para el proceso son necesarios 
            algunos requisitos como inglés avanzado y experiencia en el área en la que te interesa trabajar. 
            En esta experiencia, el intercambista recibe un soporte económico para cubrir los costos básicos 
            durante el período de intercambio.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Form gt -->
  <app-form-gt id="form"></app-form-gt>

  <section class="product-steps margin-top-and-bottom">
    <div class="container">
        <h2 style="text-align:center;font-weight: bold; color:black;padding-bottom: 30px;">Pasos para realizar tu intercambio </h2>
      <div class="row">
        <div class="product-image background-default col-lg-5 col-md-12 col-sm-12">
          <div class="round icon circle"></div>
        </div>
        <div class="product-steps-content col-lg-7 col-md-12 col-sm-12 ">
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@register">
                Inscríbete
              </h3>
              <p class="lighter" i18n="@@registerAndSeeOpportunities">
                Llena tu inscripción y mira las oportunidades que tenemos para ti.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@contactWithAiesec">
                Contacto con AIESEC
              </h3>
              <p class="lighter" i18n="@@contactWithAiesecText">
                La oficina de AIESEC más cercana a ti entrará en contacto para resolver tus dudas 
                e indicarte las mejores oportunidades.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@cvInEnglishTitle">
                Hacer el CV en inglés
               </h3>
              <p class="lighter" i18n="@@cvInEnglishText">
                Es necesario preparar tu curriculum vitae en inglés para presentar a las empresas a 
                las que estás aplicando. No te preocupes, estamos aquí para ayudarte.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@applyInOurVacanciesTitle">
                Aplicar a nuestras oportunidades
              </h3>
              <p class="lighter" i18n="@@applyInOurVacanciesText">
                En la plataforma podrás aplicar a diversas oportunidades que encajarán con tu 
                perfil a partir de la consultoría hecha por la oficina de AIESEC.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@interviewsForVacanciesTitle">
                Entrevista con la empresa que estás aplicando.
              </h3>
              <p class="lighter" i18n="@@interviewsForVacanciesText">
                Vas a realizar una entrevista con la empresa a la que aplicaste, donde te presentarás 
                y responderás algunas preguntas de selección
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@beApprovedOnTheJobTitle">
                Ser aprobado en la oportunidad.
              </h3>
              <p class="lighter" i18n="@@beApprovedOnTheJobGeText">
                Después de la entrevista y de ser aceptado en la oportunidad, serás invitado para firmar 
                el contrato de tu intercambio y hacer el pago de la tasa administrativa.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@getReadyForYourExchangesTitle">
                Prepárate para tu intercambio
              </h3>
              <p class="lighter" i18n="@@getReadyForYourExchangesText">
                Con el soporte de AIESEC, te vas a preparar para viajar y tener una experiencia increíble.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gt lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@livesExperienceTitle">
                Vive la Experiencia
              </h3>
              <p class="lighter" i18n="@@livesExperienceText">
                Ahora es solamente viajar y con soporte de AIESEC podrás vivir una experiencia de liderazgo que impactará el mundo.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button [ngx-scroll-to]="'#form'" class="with-background bold gt without-border centered" i18n="@@subscribeNow" style="border-radius:5px;">
                Quiero ser Talento Global
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class='know-aiesec padding-top-and-bottom with-background gt'>
    <div class="container">
        <h2 style="text-align:center;font-weight: bold; color:white;">¿Que incluye mi intercambio?</h2>
      <div class="row">
        <div class="aiesec-image background-default col-lg-5 col-sm-12 col-md-12">
          <div class="round icon circle"></div>
        </div>
        <div class="aiesec-info col-lg-7 col-sm-12 col-md-12">
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gt"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem1Title">
                Soporte para encontrar tu vacante
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem1Text">
                Al inscribirte, un voluntario de AIESEC te va a ayudar a encontrar la oportunidad correcta 
                para tu perfil, sacar todas las dudas y ponerte en contacto con la oficina a la cual vas a 
                viajar.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gt"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem2Title">
                Soporte logístico
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem2Text">
                Antes y durante el intercambio, AIESEC en tu ciudad y en el destino van ayudarte con la 
                logística de transporte, acomodación y preparación para tu proyecto.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gt"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem3Title">
                Descripción de trabajo
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem3Text">
                Independiente del tipo de intercambio, nuestras oportunidades tienen descripciones del 
                proyecto en el que vas a participar, carga horaria y responsabilidades. Además de eso, 
                tu puedes conversar con nuestro equipo para aclarar cualquier duda.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gt"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem4Title">
                Experiencia de Liderazgo
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem4Text">
                A lo largo de tu experiencia con AIESEC, serán brindados diversos espacios para que puedas 
                reflexionar y mejorar las habilidades de liderazgo, para que puedas volver y traer un 
                impacto real a tu ciudad.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button [ngx-scroll-to]="'#form'" class="border-radius centered without-border" i18n="@@talkWithOurRepresentatives" style="color:white;font-weight:bold;background:#007F90;">
            Habla con uno de nuestros representantes
          </button>
        </div>
      </div>
   </div>
</section>

  <section class="faq padding-top-and-bottom">
      <div class="container">
        <div class="row">
          <div class="faq-info col-lg-7 col-sm-12 col-md-12">
            <h2 class='bold' i18n="@@faqFrequentlyAskedQuestions">
              FAQ - Preguntas frecuentes
            </h2>
            <div class="row">
              <div class="col-sm-12">
                <h3 class='semibold' i18n="@@faqGtItem1">
                  ¿Cuál es el tipo de perfil para ser un Talento Global?
                </h3>
                <p class='lighter italic' i18n="@@faqGtItem1Answer">
                  El perfil es para graduados entre 18 y 30 años, con inglés avanzado y experiencia previa 
                  en alguna de esas áreas: Administración, Recursos Humanos, Marketing, Tecnología de la 
                  Información, Gestión y Enseñanza de Lenguas.
                </p>
              </div>
              <div class="col-sm-12">
                <h3 class='semibold' i18n="@@faqGtItem2">
                  ¿Voy a recibir alguna remuneración por parte de la empresa?
                </h3>
                <p class='lighter italic' i18n="@@faqGtItem2Answer">
                  Si, la experiencia es remunerada para este intercambio. Recibirás un soporte económico 
                  para cubrir los costos básicos durante el período de intercambio.
                </p>
              </div>
              <div class="col-sm-12">
                <h3 class='semibold' i18n="@@faqGtItem3">
                  ¿Alguien me acompañará durante el intercambio?
                </h3>
                <p class='lighter italic' i18n="@@faqGtItem3Answer">
                  Siempre tendrás una persona de AIESEC en contacto contigo, tanto del país de origen como del país de destino. 
                </p>
              </div>
              <div class="col-sm-12">
                <h3 class='semibold' i18n="@@faqGtItem4">
                  ¿Necesito seguro de salud para viajar?
                </h3>
                <p class='lighter italic' i18n="@@faqGtItem4Answer">
                  Si, el seguro de salud es obligatorio para tu intercambio con AIESEC, para garantizar tu 
                  bienestar durante todo el viaje. Nosotros podemos recomendarte un servicio de seguros, 
                  pero tú puedes contratar la aseguradora que más prefieras.
                </p>
              </div>
              <div class="col-sm-12">
                <button [ngx-scroll-to]="'#form'" class="centered without-border bold" i18n="@@contactUsForm" style="border-radius:5px;background:#008BA2;color:white;font-weigth:bold;">
                  Contáctanos
                 </button>
              </div>
            </div>
          </div>
          <div class="faq-image background-default col-lg-5 col-sm-12 col-md-12">
            <div class="round icon circle"></div>
          </div>
        </div>
      </div>
    </section>
</main>

<app-landing-footer></app-landing-footer>