<div id="bg-menu" class="mobile" (click)="toggleResponsiveMenu()" class="animated fadeIn faster" *ngIf="responsiveMenu"></div>
<section class="header-product" id="header-product">
  <div class="header-product-image {{actualPage}}"></div>
  <div class="container">
    <div class="row header-menu" id="fixedMenu">
      <div class="col-sm-3" (click)="returnHome()">
        <div class='logo-aiesec'></div>
      </div>
      <div class="menu-product col-sm-9">
        <div class="responsive-menu">
          <div class='menu-icon' (click)="toggleResponsiveMenu()">
            <i *ngIf="!responsiveMenu" class="fas fa-bars"></i>
            <i *ngIf="responsiveMenu" class="fas fa-times"></i>
          </div>
          <ul id="menu">
            <li>
              <span i18n="@@makeAnExchange">Toma un intercambio</span>
              <i class="fas fa-chevron-down"></i>
              <ul class="animated fadeIn faster ul-products">
                <li (click)="goToGv()" i18n="@@globalVolunteer">
                  Voluntario Global
                </li>
                <li (click)="goToGe()" i18n="@@globalEntrepreneur">
                  Emprendedor Global
                </li>
                <li (click)="goToGt()" i18n="@@globalTalent">
                  Talento Global
                </li>
                <a href="https://blog.aiesec.pe/familia/">
                  <li>
                    Familia Global
                  </li>
                </a>
              </ul>
            </li>
            <li>
              <span i18n="@@becomeOurPartner">Sé nuestro Aliado </span>
              <i class="fas fa-angle-down"></i>
              <ul class="animated fadeIn faster ul-partners">
                <a href="https://blog.aiesec.pe/ongs/">
                  <li i18n="@@ong">
                    ONG
                  </li>
                </a>
                <a href="https://blog.aiesec.pe/empresas/">
                  <li i18n="@@companies">
                    Empresas
                  </li>
                </a>
              </ul>
            </li>
            <a href="https://blog.aiesec.pe/intercambios/unete/">
              <li>
                <span>Sé Miembro</span>
              </li>
            </a>
            <a href="https://blog.aiesec.pe/blog/">
              <li>
                <span>BLOG</span>
              </li>
            </a>
            <a href="https://blog.aiesec.pe/youthspeakforum">
              <li i18n="@@youthspeak">
                Youthspeak
              </li>
            </a>
            <a href="https://blog.aiesec.pe/contacto/">
              <li i18n="@@contact">
                Contacto
              </li>
            </a>
          </ul>

          <ul *ngIf="responsiveMenu" class='active-responsive-menu animated fadeIn faster' id="active-responsive-menu" (click)="toggleResponsiveMenu()">
            <div class="logo-menu" routerLink="/"></div>
            <li>
              <span i18n="@@makeAnExchange">Toma un intercambio</span>
              <ul class="animated fadeIn faster">
                <li (click)="goToGv()" [ngx-scroll-to]="'#header-product'" i18n="@@globalVolunteer">
                  Voluntario Global
                </li>
                <li (click)="goToGe()" [ngx-scroll-to]="'#header-product'" i18n="@@globalEntrepreneur">
                  Emprendedor Global
                </li>
                <li (click)="goToGt()" [ngx-scroll-to]="'#header-product'" i18n="@@globalTalent">
                  Talento Global
                </li>
                <a href="https://blog.aiesec.pe/familia/">
                  <li>
                    Casas Globales
                  </li>
                </a>
              </ul>
            </li>
            <li>
              <span i18n="@@becomeOurPartner">Sé nuestro Aliado</span>
              <ul class="animated fadeIn faster">
                <a href="https://blog.aiesec.pe/ongs/">
                  <li i18n="@@ong">
                    ONG
                  </li>
                </a>
                <a href="https://blog.aiesec.pe/empresas/">
                  <li i18n="@@companies">
                    Empresas
                  </li>
                </a>
              </ul>
            </li>
            <a href="https://blog.aiesec.pe/intercambios/unete/">
              <li>
                <span>Sé Miembro</span>
              </li>
            </a>
            <a href="https://blog.aiesec.pe/blog/">
              <li>
                <span>BLOG</span>
              </li>
            </a>
            <a href="https://blog.aiesec.pe/youthspeakforum">
              <li>
                <span i18n="@@youthspeak">Youthspeak</span>
              </li>
            </a>
            <a href="https://blog.aiesec.pe/contacto/">
              <li>
                <span i18n="@@contact">Contacto</span>
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="product-info" *ngIf="actualPage == 'talento-global'">
        <h1 style="background:#0a8ea0;font-size: 1.5em;margin-top: 150px;">¿Buscas la proxima oportunidad para darle un giro a</h1>
        <h1 style="background:#0a8ea0;margin-top: -10px;font-size: 1.5em;">tu vida y obtener experiencia profesional?</h1>
        <h2>Diferenciate a través de una pasantía profesional en el extranjero.</h2>
      <button class='button with-background bold gt without-border border-radius margin' (click)='scrollToForm()'> Inscribite </button>
    </div>
    <div class="product-info" *ngIf="actualPage == 'emprendedor-global'">
        <h1 style="background:#30c39e;font-size: 1.5em;">¿Te entusiasma un entorno de trabajo dinámico y acelerado?</h1>
        <h1 style="background:#30c39e;margin-top: -10px;font-size: 1.5em;">¿Quieres obtener tu primer experiencia laboral?</h1>
        <h2>¡Comienza tu viaje empresarial con una pasantía internacional en una startup!</h2>
      <button class='button with-background bold ge without-border border-radius margin' (click)='scrollToForm()'> Inscribite </button>
    </div>
    <div class="product-info" *ngIf="actualPage == 'voluntario-global'">
        <h1 style="background:#f85a40;font-size: 1.5em;">¿Te atreves a impactar positivamente el mundo?</h1>
        <h2>¡Bueno, creemos que puedes hacerlo a través de un Voluntariado<br>
        internacional hacia los Objetivos de Desarrollo Sostenible<br>
        propuestos por la ONU!</h2>
      <button class='button with-background bold gv without-border border-radius margin' (click)='scrollToForm()'> Inscribite </button>
    </div>
    <div class="product-info" *ngIf="actualPage == ''">
      <h1>Somos AIESEC</h1>
      <h2>Desarrollamos el liderazgo en jovénes a través de intercambios<br>
      internacionales desde 1948.</h2>
    </div>
  </div>
</section>