<div id="bg-menu" class="mobile" (click)="toggleResponsiveMenu()" class="animated fadeIn faster" *ngIf="responsiveMenu"></div>
<section class="header-product" id="header-product">
  <div class="header-product-image {{actualPage}}"></div>
  <div class="container">
    <div class="row header-menu" id="fixedMenu">
      <div class="col-sm-3" (click)="returnHome()">
        <div class='logo-aiesec'></div>
      </div>
      <div class="menu-product col-sm-9">
        <div class="responsive-menu">
          <div class='menu-icon' (click)="toggleResponsiveMenu()">
            <i *ngIf="!responsiveMenu" class="fas fa-bars"></i>
            <i *ngIf="responsiveMenu" class="fas fa-times"></i>
          </div>
          <ul id="menu">
            <li>
              <span i18n="@@makeAnExchange">Toma un intercambio</span>
              <i class="fas fa-chevron-down"></i>
              <ul class="animated fadeIn faster ul-products">
                <li (click)="goToGv()" i18n="@@globalVolunteer">
                  Voluntario Global
                </li>
                <li (click)="goToGe()" i18n="@@globalEntrepreneur">
                  Emprendedor Global
                </li>
                <li (click)="goToGt()" i18n="@@globalTalent">
                  Talento Global
                </li>
                <a href="https://aiesec.pe/familia/">
                  <li>
                    Casas Globales
                  </li>
                </a>
              </ul>
            </li>
            <li>
              <span i18n="@@becomeOurPartner">Sé nuestro Aliado </span>
              <i class="fas fa-angle-down"></i>
              <ul class="animated fadeIn faster ul-partners">
                <a href="https://aiesec.pe/ongs/">
                  <li i18n="@@ong">
                    ONG
                  </li>
                </a>
                <a href="https://aiesec.pe/empresas/">
                  <li i18n="@@companies">
                    Empresas
                  </li>
                </a>
              </ul>
            </li>
            <a href="https://aiesec.pe/intercambios/unete/">
              <li>
                <span>Sé Miembro</span>
              </li>
            </a>
            <a href="https://aiesec.pe/blog/">
              <li>
                <span>BLOG</span>
              </li>
            </a>
            <a href="https://aiesec.pe/youthspeakforum">
              <li i18n="@@youthspeak">
                Youthspeak
              </li>
            </a>
            <a href="https://aiesec.pe/contacto/">
              <li i18n="@@contact">
                Contacto
              </li>
            </a>
          </ul>

          <ul *ngIf="responsiveMenu" class='active-responsive-menu animated fadeIn faster' id="active-responsive-menu" (click)="toggleResponsiveMenu()">
            <div class="logo-menu" routerLink="/"></div>
            <li>
              <span i18n="@@makeAnExchange">Toma un intercambio</span>
              <ul class="animated fadeIn faster">
                <li (click)="goToGv()" [ngx-scroll-to]="'#header-product'" i18n="@@globalVolunteer">
                  Voluntario Global
                </li>
                <li (click)="goToGe()" [ngx-scroll-to]="'#header-product'" i18n="@@globalEntrepreneur">
                  Emprendedor Global
                </li>
                <li (click)="goToGt()" [ngx-scroll-to]="'#header-product'" i18n="@@globalTalent">
                  Talento Global
                </li>
                <a href="https://aiesec.pe/familia/">
                  <li>
                    Casas Globales
                  </li>
                </a>
              </ul>
            </li>
            <li>
              <span i18n="@@becomeOurPartner">Sé nuestro Aliado</span>
              <ul class="animated fadeIn faster">
                <a href="https://aiesec.pe/ongs/">
                  <li i18n="@@ong">
                    ONG
                  </li>
                </a>
                <a href="https://aiesec.pe/empresas/">
                  <li i18n="@@companies">
                    Empresas
                  </li>
                </a>
              </ul>
            </li>
            <a href="https://aiesec.pe/intercambios/unete/">
              <li>
                <span>Sé Miembro</span>
              </li>
            </a>
            <a href="https://aiesec.pe/blog/">
              <li>
                <span>BLOG</span>
              </li>
            </a>
            <a href="https://aiesec.pe/youthspeakforum">
              <li>
                <span i18n="@@youthspeak">Youthspeak</span>
              </li>
            </a>
            <a href="https://aiesec.pe/contacto/">
              <li>
                <span i18n="@@contact">Contacto</span>
              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="product-info" *ngIf="actualPage == 'talento-global'">
      <h1 class='color-white bold' i18n="@@landingGtTitle">
        Talento Global
      </h1>
      <h2 class='color-white' i18n="@@landingGtDescription">
        Descubra
        <b>su verdadero talento.</b>
      </h2>
      <button class='button with-background bold gt without-border border-radius margin' (click)='scrollToForm()'> Inscribite </button>
    </div>
    <div class="product-info" *ngIf="actualPage == 'emprendedor-global'">
      <h1 class='color-white bold' i18n="@@landingGeTitle">
        Emprendedor Global
      </h1>
      <h2 class='color-white' i18n="@@landingGeDescription">
        Se emprendedor y
        <b>encuentra tu pasión.</b>
      </h2>
      <button class='button with-background bold ge without-border border-radius margin' (click)='scrollToForm()'> Inscribite </button>
    </div>
    <div class="product-info" *ngIf="actualPage == 'voluntario-global'">
      <h1 class='color-white bold' i18n="@@landingGvTitle">
        Voluntario Global
      </h1>
      <h2 class='color-white' i18n="@@landingGvDescription">
        Voluntario para
        <b>las personas.</b>
      </h2>
      <button class='button with-background bold gv without-border border-radius margin' (click)='scrollToForm()'> Inscribite </button>
    </div>
    <div class="product-info" *ngIf="actualPage == ''">
      <h1 class='color-white bold intro' i18n="@@landingPageIntro">
        AIESEC, el mayor movimiento de liderazgo joven del mundo.
      </h1>
    </div>
  </div>
</section>