<head>
	<link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
</head>
<div id="step1" class="form-talentos-globais full-screen">
	<div>
		<section class="forms" id="form-voluntario-global" class='animated fadeIn'>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md">
						<section class="content" id="resultado">
							<div class="container">
								<div class="row justify-content-center">
									<div class="col-md">
										<div class="row justify-content-center">
                      <div class="col-md-12" id="header-resultado">
                        <h2 i18n='@@thanksForSubscribleText' style="padding-top:25px;">¡Gracias por inscribirte!</h2>
                      </div>
                      <div class="col-md-12 grid-message mobile-message" id="grid-message">
                        <div class="col-md-10">
                          <h3 i18n='@@thanksForSubscribleMessage' style="padding-left:5px;font-size: 1.5em;transform: translateY(100%)!important;">Ahora estás listo para empezar la búsqueda de la oportunidad perfecta para ti.</h3>
                        </div>
                        <div class="col-md-2">
                          <i class="fas fa-thumbs-up fa-10x color-icon"></i>
                        </div>
                      </div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section>

							<div class='grid-card' style="padding-top:70px;">
								<div class='card-option' (click)="goToGtTCS()">
									<div class='photo-product back-to-home'></div>
									<div class='card-content'>
										<label>
											<i class="fas fa-briefcase"></i> <span i18n="@@vacancies">TCS</span>
										</label>
										<h2 i18n="@@accessHomePage">
											Accede a nuestras prácticas de TCS
										</h2>
									</div>
								</div>
								<div class='card-option' (click)="goToGtBrasil()">
									<div class='photo-product go-to-portal'></div>
									<div class='card-content'>
										<label>
											<i class="fas fa-briefcase"></i> <span i18n="@@vacancies">Brasil</span>
										</label>
										<h2 i18n="@@accesOpportunitiesPortal">
											Accede a nuestras prácticas en Brasil
										</h2>
									</div>
								</div>
								<div class='card-option' (click)="goToGtPanama()">
									<div class='photo-product go-to-blog'></div>
									<div class='card-content'>
										<label>
											<i class="fas fa-briefcase"></i> <span i18n="@@vacancies">Panama</span>
										</label>
										<h2 i18n="@@learnMoreAboutOurStories">
											Accede a nuestras prácticas en Panama
										</h2>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>