<link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet">
<main>
  <app-landing-page-menu></app-landing-page-menu>
  <div class="row global-columns" id="global">
    <div class="col-lg-4 col-sm-12 column-1 align-center">
      <div class="bg-color"></div>
      <div class="bg-content">
        <picture>
          <source srcset="../../assets/images/logo-voluntario-global.png.webp" type="image/webp">
          <source srcset="../../assets/images/logo-voluntario-global.png" type="image/png"> 
          <img src="../../assets/images/logo-voluntario-global.png">
        </picture>
        <p class="desktop" i18n="@@landingGvAboutDesktop">
          <strong style="font-weight: bold"> ¿Te atreves a impactar positivamente el mundo?</strong>
          <br> ¡Bueno, creemos que puedes hacerlo a través del Voluntariado Internacional hacia los
          Objetivos  de Desarrollo Sostenible propuestos por la ONU!
        </p> 
        <p class="mobile" i18n="@@landingGvAboutMobile">
          <strong style="font-weight: bold"> ¿Te atreves a impactar positivamente el mundo?</strong>
          <br> ¡Bueno, creemos que puedes hacerlo a través del Voluntariado Internacional hacia los
          Objetivos  de Desarrollo Sostenible propuestos por la ONU!
        </p>
        <button type="button" (click)="goToGv()" class="btn btn-outline-light desktop" i18n="@@learnMore" style="text-transform: uppercase;">CONOCE MÁS</button>
        <button type="button" class="button centered border border-white without-background color-white mobile" (click)="toggleGv()">
          <span i18n="@@learnMore">CONOCE MÁS</span>
          <i *ngIf="!seeMoreGv" class="fas fa-angle-down"></i>
          <i *ngIf="seeMoreGv" class="fas fa-angle-up"></i>
        </button>
        <div *ngIf="seeMoreGv" class="product-items animated fadeIn faster mobile">
          <div class="row">
            <div class="col-3 mobile-1"></div>
            <div class="col-9">
              <p i18n="@@learnMoreGvItem1">
                ¿Te atreves a impactar positivamente el mundo?
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-3 mobile-2"></div>
            <div class="col-9">
              <p i18n="@@learnMoreGvItem2">
                Bueno, creemos que puedes hacerlo a través del Voluntariado Internacional hacia los
          Objetivos  de Desarrollo Sostenible propuestos por la ONU!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-3 mobile-3"></div>
            <div class="col-9">
              <p i18n="@@learnMoreGvItem3">
                Tener entre 18 y 30 años es el único requisito.
              </p>
            </div>
          </div>
          <button class="button" (click)="goToGe()"  class="background-white gv without-border"  i18n="@@signup">
            INSCRÍBASE
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 column-2 align-center">
      <div class="bg-color"></div>
      <div class="bg-content">
        <picture>
          <source srcset="../../assets/images/logo-empreendedor-global.png.webp" type="image/webp">
          <source srcset="../../assets/images/logo-empreendedor-global.png" type="image/png"> 
          <img src="../../assets/images/logo-empreendedor-global.png">
        </picture>        
        <p class="desktop" i18n="@@landingGeAboutDesktop">
          <strong style="font-weight:bold;"> ¿Te entusiasma un entorno de trabajo dinámico y acelerado?
            ¿Quieres obtener tu primer experiencia laboral?</strong>
          <br>  ¡Comience su viaje empresarial con una pasantía internacional en una startup!
        </p>
        <p class="mobile" i18n="@@landingGeAboutMobile">
          <strong style="font-weight:bold;"> ¿Te entusiasma un entorno de trabajo dinámico y acelerado?
            ¿Quieres obtener tu primer experiencia laboral?</strong>
          <br>  ¡Comience su viaje empresarial con una pasantía internacional en una startup!
        </p>
        <button type="button" (click)="goToGe()" class="btn btn-outline-light desktop" style="text-transform: uppercase;" i18n="@@learnMore">CONOCE MÁS</button>
        <button type="button" class="button centered border border-white without-background color-white mobile" (click)="toggleGe()">
          <span i18n="@@learnMore">CONOCE MÁS</span>
          <i *ngIf="!seeMoreGe" class="fas fa-angle-down"></i>
          <i *ngIf="seeMoreGe" class="fas fa-angle-up"></i>
        </button>
        <div *ngIf="seeMoreGe" class="product-items animated fadeIn faster mobile">
          <div class="row">
            <div class="col-3 mobile-1"></div>
            <div class="col-9">
              <p i18n="@@learnMoreGeItem1">
                ¿Te entusiasma un entorno de trabajo dinámico y acelerado?
            ¿Quieres obtener tu primer experiencia laboral?
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-3 mobile-4"></div>
            <div class="col-9">
              <p i18n="@@learnMoreGeItem2">
                ¡Comience su viaje empresarial con una pasantía internacional en una startup!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-3 mobile-5"></div>
            <div class="col-9">
              <p i18n="@@learnMoreGeItem3">
                Solo necesitas tener algunos requisitos acorde a la pasantía.
              </p>
            </div>
          </div>
          <button class="button" (click)="goToGe()" class="background-white ge without-border" i18n="@@signup">
            INSCRÍBASE
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 column-3 align-center">
      <div class="bg-color"></div>
      <div class="bg-content">
        <picture>
          <source srcset="../../assets/images/logo-talentos-globais.png.webp" type="image/webp">
          <source srcset="../../assets/images/logo-talentos-globais.png" type="image/png"> 
          <img src="../../assets/images/logo-talentos-globais.png">
        </picture>        
        <p class="desktop" i18n="@@landingGtAboutDesktop">
          <strong style="font-weight:bold;"> ¿Buscas la próxima oportunidad para cambiar de vida y obtener experiencia profesional? </strong>
          <br>  Diferenciate a través de una pasantía profesional en el extranjero.
        </p>
        <p class="mobile" i18n="@@landingGtAboutMobile">
          Pasantía profesional en una empresa.
        </p>
        <button type="button" (click)="goToGt()" class="btn btn-outline-light desktop" style="text-transform: uppercase;" i18n="@@learnMore">CONOCE MÁS</button>
        <button type="button" class="button centered border border-white without-background color-white mobile" (click)="goToGt()">
          <span i18n="@@learnMore">CONOCE MÁS</span>
          <i *ngIf="!seeMoreGt" class="fas fa-angle-down"></i>
          <i *ngIf="seeMoreGt" class="fas fa-angle-up"></i>
        </button>
        <div *ngIf="seeMoreGt" class="product-items animated fadeIn faster mobile">
          <div class="row">
            <div class="col-3 mobile-1"></div>
            <div class="col-9">
              <p i18n="@@learnMoreGtItem1">
                ¿Buscas la próxima oportunidad para cambiar de vida y obtener experiencia profesional?
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-3 mobile-6"></div>
            <div class="col-9">
              <p i18n="@@learnMoreGtItem2">
                Diferenciate a través de una pasantía profesional en el extranjero.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-3 mobile-5"></div>
            <div class="col-9">
              <p i18n="@@learnMoreGtItem3">
                Sólo necesitas saber inglés y tener experiencia laboral previa.
              </p>
            </div>
          </div>
          <button class="button" (click)="goToGe()"  class="background-white gt without-border" i18n="@@signup">
            INSCRÍBASE
          </button>
        </div>
      </div>
    </div>
  </div>

  <section class="padding-top-and-bottom history-session" id="aiesec-info">
    <div class="container">
      <h1 i18n="@@landingHistoryTitle"> Desarrollando el liderazgo joven desde 1948 </h1>
      <br>
      <div class="row">
        <div class=" col-lg-5 col-sm-12 col-md-12 history-session-image">
          <div class="round icon circle"></div>
        </div>
        <div class=" col-lg-6 col-sm-12 col-md-12 history-session-content">
          <h2 class="sub-title semibold italic" i18n="@@landingHistorySubtitle">AIESEC es el mayor movimiento de liderazgo jóven del mundo</h2>
          <hr>
          <p class="lighter" i18n="@@landingHistory">
            Creemos en el liderazgo como la solución fundamental para los problemas del mundo y confiamos en 
            la juventud para liderar ese cambio. A través de intercambios, proporcionamos oportunidades para 
            que los jóvenes puedan explorar su potencial de liderazgo en ambientes desafiantes y multiculturales.
          </p>
          <div class="row margin">
            <div class="col-sm align-center">
              <picture>
                <source srcset="../../assets/images/icon-people.png.webp" type="image/webp" class="coin">
                <source srcset="../../assets/images/icon-people.png" type="image/png" class="coin">
                <img src="../../assets/images/icon-people.png" class="coin">
              </picture>
              <p class="coin-text" i18n="@@historyMembersInBrazil">
                <strong>700</strong> miembros
                <br> en Perú</p>
            </div>
            <div class="col-sm align-center">
              <picture>
                <source srcset="../../assets/images/icon-world.png.webp" type="image/webp" class="coin">
                <source srcset="../../assets/images/icon-world.png" type="image/png" class="coin"> 
                <img src="../../assets/images/icon-world.png" class="coin">
              </picture>              
              <p class="coin-text" i18n="@@historyPresentCountries">Presente en
                <br>
                <strong>+120 países</strong>
              </p>
            </div>
            <div class="col-sm align-center">
              <picture>
                <source srcset="../../assets/images/icon-books.png.webp" type="image/webp" class="coin">
                <source srcset="../../assets/images/icon-books.png" type="image/png" class="coin">
                <img src="../../assets/images/icon-books.png" class="coin">
              </picture>              
              <p class="coin-text" i18n="@@historyExchangesPerYear">+3.500 intercambios
                <br> por año</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="row meet-our-programs-session">
    <div id="meet-our-programs-session-bg"></div>
    <div class="col-sm align-center meet-our-programs-content padding">
      <p class="align-center margin" i18n="@@landingAIESECModel">
        El modelo de desarrollo de liderazgo de 
        <strong>AIESEC</strong> prepara jovenes para que sean un agente de cambio en el mundo,
        <br> permitiendo a los jóvenes tomar decisiones que puedan hacer la
        <strong>diferencia</strong> cada día. 
      </p>
      <button type="button" class="btn btn-light" (click)="scrollToGlobal()" i18n="@@getToKnowOurPrograms">CONOZCA NUESTROS PROGRAMAS</button>
    </div>
  </section>

  <section class="padding-top-and-bottom experiences-session">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="italic centered" i18n="@@aiesecExperienceTitle">
            En una experiencia con AIESEC vas a …
          </h1>
        </div>

        <div class="col-lg-7 col-sm-12 col-md-12 align-left">
          <ul>
            <li class="bullet-1 margin">
              <div class='bullet-icon icon-1'></div>
              <span i18n="@@aiesecExperienceItem1">
                Conocer y vivir tus valores personales, mientras exploras tus pasiones y tus fortalezas.
              </span>
            </li>
            <li class="bullet-2 margin">
              <div class='bullet-icon icon-2'></div>
              <span i18n="@@aiesecExperienceItem2">
                Probar tu habilidad de hacer una diferencia en el mundo, conectándote con temas globales.
              </span>
            </li>
            <li class="bullet-3 margin">
              <div class='bullet-icon icon-3'></div>
              <span i18n="@@aiesecExperienceItem3">
                Desarrollar tus habilidades de comunicación en un ambiente diverso.
              </span>
            </li>
            <li class="bullet-4 margin">
              <div class='bullet-icon icon-4'></div>
              <span i18n="@@aiesecExperienceItem4">
                Tomar decisiones y solucionar diversos problemas en ambientes desafiantes.
              </span>
            </li>
          </ul>
        </div>
        <div class="col-lg-5 col-sm-12 col-md-12 LDM">
        </div>
      </div>
    </div>
  </section>
  <div id="our-stories">
    <div id="our-stories-bg"></div>
    <section class="container padding align-center our-stories">
      <h1 class='italic centered' i18n="@@landingOurHistories">Nuestras historias</h1>
      <br>
      <div class="row content-swipe-area">
        <div class="col-sm swipe-area">
          <div class='swipe-animation' (mouseenter)="stopAnimation()"
            (tap)='redirectTo()' (mouseleave)="sliderAnimation()" (swiperight)="swipe('right')" (swipeleft)="swipe('left')"></div>
          <div class="footer-carousel-btn-left">
            <i (click)="moveLeft()" class="fas fa-chevron-left"></i>
          </div>
          <div class="carousel-container">
            <div class='carousel-wrapper'>
              <div class="each-carousel-item">
                <div class="cases case-1" drag-scroll-item>
                  <div class="box-case-bg"></div>
                  <div class="box-case box-case-gv">
                    <div class="logo-product gv"></div>
                    <p class='product-story-info' i18n="@@landingOurHistory1">
                      ““Ser parte de un voluntariado internacional es el mejor camino para entender el 
                      sentido de SERVIR. Mi experiencia en Costa Rica cubrió mis expectativas, siempre 
                      habrá algo nuevo que visitar y cosas nuevas que aprender, además su gente te contagiara
                       de su buena vibra.  Asimismo aunque se presenten algunos problemas en el camino eso nos
                        ayudará a conocernos a nosotros mismos y saber de lo que somos capaces”
                    </p>
                    <span>
                      Pamela en Costa Rica
                    </span>
                  </div>
                </div>
              </div>
              <div class="each-carousel-item">
                <div class="cases case-2" drag-scroll-item>
                  <div class="box-case-bg"></div>
                  <div class="box-case">
                    <div class="logo-product ge"></div>
                    <p class='product-story-info' i18n="@@landingOurHistory2">
                      “Cuando inicie la experiencia en mi startup tenía miedo de no poder comunicar lo que 
                      quería decir debido al idioma, pero las personas aquí hicieron que todo sea más fácil,
                       nunca antes hubiera podido imaginar lo fascinante y amplio que es el mundo emprendedor, 
                       día a día tengo que esforzarme para estar al nivel. En esta experiencia pude abrir mi
                        mente a muchas cosas que no había visto en Perú.”
                    </p>
                    <span>
                      Madison en Brasil
                    </span>
                  </div>
                </div>
              </div>
              <div class="each-carousel-item">
                <div class="cases case-3" drag-scroll-item>
                  <div class="box-case-bg"></div>
                  <div class="box-case">
                    <div class="logo-product gt"></div>
                    <p class='product-story-info' i18n="@@landingOurHistory3">
                      “Durante este tiempo en India he aprendido diversas herramientas como Analista de 
                      Compras para Tata Consultancy Services LTD. El estar dentro del mercado internacional
                       es algo completamente distinto. Esto me enseñó el trabajo en equipo, la gestión y
                        sobre todo ganar una experiencia profesional que me abrirá muchas puertas en el 
                        futuro”
                    </p>
                    <span>
                      Leonardo en India
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="footer-carousel-btn-right">
            <i (click)="moveRight()" class="fas fa-chevron-right"></i>
          </div>
        </div>
        <ul id='position-carousel'>
          <li [ngClass]="{'active': sliderPosition == 0}"></li>
          <li [ngClass]="{'active': sliderPosition == 100}"></li>
          <li [ngClass]="{'active': sliderPosition == 200}"></li>
        </ul>
      </div>
    </section>
  </div>

</main>

<app-landing-footer></app-landing-footer>