<main>
  <div class="goToTop" [ngx-scroll-to]="'#header-product'">
    <i class="fas fa-sort-up"></i>
  </div>

  <app-landing-page-menu></app-landing-page-menu>

  <section class="product-description margin-top-and-bottom">
    <div class="container">
      <div class="row">
        <div class="logo-product gv col-lg-5 col-sm-12 col-md-12"></div>
        <div class="description col-lg-7 col-sm-12 col-md-12">
          <h2 class="bold" i18n="@@programOverview">
            ¿Qué significa ser un Voluntario Global?
          </h2>
          <p i18n="@@gvOverview">
            Ser un Voluntario Global es una experiencia intercultural para jóvenes que desean obtener
            un desarrollo personal y dejar un impacto positivo en el mundo. Con esta experiencia voluntaria 
            realizarás proyectos sociales en ONGs, Escuelas o Fundaciones en diversos países del mundo, todos 
            los proyectos están vinculados con los Objetivos de Desarrollo Sostenible propuestas por la ONU. 
            Los proyectos tienen una duración de 6 a 8 semanas y el único requisito es tener entre 18 y 30 años
            para dejar tu huella en el mundo.
        </div>
      </div>
    </div>
  </section>
  <!-- Step -->
  <app-form-gv id="form"></app-form-gv>

  <section class="product-steps margin-top-and-bottom">
    <div class="container">
        <h2 style="text-align:center;font-weight: bold; color:black;">Pasos para realizar tu intercambio </h2>
      <div class="row">
        <div class="product-image background-default col-lg-5 col-md-12 col-sm-12">
          <div class="round icon circle"></div>
        </div>
        <div class="product-steps-content col-lg-7 col-md-12 col-sm-12 ">
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
                
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@register">
                Inscríbete
              </h3>
              <p class="lighter" i18n="@@registerAndSeeOpportunities">
                Llena tu inscripción y mira las oportunidades que tenemos para ti.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@contactWithAiesec">
                Contacto con AIESEC
              </h3>
              <p class="lighter" i18n="@@contactWithAiesecText">
                La oficina de AIESEC más cercana a ti entrará en contacto para resolver tus dudas e indicarte las mejores oportunidades.              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@applyInOurVacanciesTitle">
                Aplicar a nuestras oportunidades
              </h3>
              <p class="lighter" i18n="@@applyInOurVacanciesText">
                En la plataforma podrás aplicar a diversas oportunidades que encajarán con tu perfil a partir de la consultoría hecha por la oficina de AIESEC.              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@beApprovedOnTheJobTitle">
                Ser aprobado en la oportunidad.
              </h3>
              <p class="lighter" i18n="@@beApprovedOnTheJobGvText">
                Después de ser contactado por AIESEC, serás invitado para firmar el contrato de tu intercambio y hacer el pago de la tasa administrativa.              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@getReadyForYourExchangesTitle">
                Prepárate para tu intercambio
              </h3>
              <p class="lighter" i18n="@@getReadyForYourExchangesText">
                Con el soporte de AIESEC, te vas a preparar para viajar y hacer un proyecto increíble.              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon with-border without-background gv lower"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@livesExperienceTitle">
                Vive la Experiencia
              </h3>
              <p class="lighter" i18n="@@livesExperienceText">
                Ahora es solamente viajar y con soporte de AIESEC podrás vivir una experiencia de liderazgo que impactará el mundo.              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button [ngx-scroll-to]="'#form'" class="with-background bold gv without-border centered" i18n="@@subscribeNow" style="border-radius:5px;">
                Quiero ser Voluntario Global
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <section class='know-aiesec padding-top-and-bottom'>
    <div class="container">
        <h2 style="text-align:center;font-weight: bold; color:white;">Que incluye mi intercambio?</h2>
      <div class="row">
        <div class="aiesec-image background-default col-lg-5 col-sm-12 col-md-12">
          <div class="round icon circle"></div>
        </div>
        <div class="aiesec-info col-lg-7 col-sm-12 col-md-12">
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gv"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem1Title" style="font-weight:bold;color:white;">
                Soporte para encontrar tu vacante
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem1Text" style="color:white;">
                Al inscribirte, un voluntario de AIESEC te va a ayudar a encontrar la oportunidad correcta 
                para tu perfil, sacar todas las dudas y ponerte en contacto con la oficina a la cual vas a 
                viajar.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gv"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem2Title" style="font-weight:bold;color:white;">
                Soporte logístico
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem2Text" style="color:white;">
                Antes y durante el intercambio, AIESEC en tu ciudad y en el destino van ayudarte con la 
                logística de transporte, acomodación y preparación para tu proyecto.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gv"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem3Title" style="font-weight:bold;color:white;">
                Descripción de trabajo
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem3Text" style="color:white;">
                Independiente del tipo de intercambio, nuestras oportunidades tienen descripciones del 
                proyecto en el que vas a participar, carga horaria y responsabilidades. Además de eso, 
                tu puedes conversar con nuestro equipo para aclarar cualquier duda..
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-12 col-sm-12 centered">
              <div class="round circle icon without-background gv"></div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12">
              <h3 class="bold line-height-lower darker" i18n="@@programAboutItem4Title" style="font-weight:bold;color:white;">
                Experiencia de Liderazgo
              </h3>
              <p class="lighter lower" i18n="@@programAboutItem4Text" style="color:white;">
                A lo largo de tu experiencia con AIESEC, serán brindados diversos espacios para que puedas 
                reflexionar y mejorar las habilidades de liderazgo, para que puedas volver y traer un impacto 
                real a tu ciudad.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button [ngx-scroll-to]="'#form'" class="border-radius centered without-border with-background gv" i18n="@@talkWithOurRepresentatives" i18n="@@talkWithOurRepresentatives" style="background:#F22F03;font-weight: bold;">
            Habla con uno de nuestros representantes
           </button>
        </div>
      </div>
    </div>
  </section>
  <section class="faq padding-top-and-bottom ">
    <div class="container">
      <div class="row">
        <div class="faq-info col-lg-7 col-sm-12 col-md-12">
          <h2 class='bold' i18n="@@faqFrequentlyAskedQuestions" style="color:black;!important">
            FAQ - Preguntas frecuentes
          </h2>
          <div class="row">
            <div class="col-sm-12">
              <h3 class='semibold' i18n="@@faqGvItem1">
                ¿Alguien me acompañará durante el intercambio?
              </h3>
              <p class='lighter italic' i18n="@@faqGvItem1Answer">
                Siempre tendrás una persona de AIESEC en contacto contigo, tanto del país de origen como del país de destino.               </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold' i18n="@@faqGvItem2">
                ¿Necesito seguro de salud para viajar?
              </h3>
              <p class='lighter italic' i18n="@@faqGvItem2Answer">
                Si, el seguro de salud es obligatorio para tu intercambio con AIESEC, para garantizar tu bienestar durante todo el viaje. Nosotros podemos recomendarte un servicio de seguros, pero usted puede contratar la aseguradora que más prefieras.
              </p>
            </div>
            <div class="col-sm-12">
              <h3 class='semibold' i18n="@@faqGvItem3">
                ¿En qué tipo de hospedaje voy acomodarme? 
              </h3>
              <p class='lighter italic' i18n="@@faqGvItem3Answer">
                Depende del país de destino. Podrás estar alojado en una familias, un hostel o en un departamento con otros intercambistas.              </p>
            </div>
            <div class="col-sm-12">
              <button [ngx-scroll-to]="'#form'" class="centered without-border bold background-gv" i18n="@@contactUsForm" style="color:white;background:#FE4902;border-radius: 5px;">
                CONTÁCTANOS
              </button>
            </div>
          </div>
        </div>
        <div class="faq-image background-default col-lg-5 col-sm-12 col-md-12">
          <div class="round icon circle"></div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-landing-footer></app-landing-footer>